* {
    padding: 0;
    font-family: Tahoma;
}

h1 {
    font-size: 16pt;
    text-align: center;
}

textarea {
    resize: none; /* Запрещаем изменять размер */
}

.formLogIn {
    margin-top: 5%;
}

.logIn {

}

.borderForm {
    border: 2px solid grey;
    width: 300px;
    height: 220px;
    margin-left: 41%;
}

.directionLogIn {
    text-align: center;
    font-weight: bold;
}

.blockInput {
    margin-left: 6%;
}

.inputPass {
    margin-left: 33px;
}

.inputLog {
    margin-left: 15%;
}

.buttonLogin {
    width: 150px;
    height: 25px;
    margin-left: 30%;
}

.registration {
    margin-left: 27%;
}

.helloAdmin {
    margin-top: 2%;
}

.buttonsAdmin {
    text-align: center;
}

.buttonMainMenu {
    height: 40px;
    width: 280px;
}

.blockButtonMainMenu {
    margin-top: 1%;
}

.borderCreateCrossword {
    border: 2px solid grey;
    width: 375px;
    height: 245px;
    margin-left: 38%;
}

.marginNameCreateCrossword {
    margin-right: 19%;
}

.marginWidthCreateCrossword {
    margin-right: 22%;
}

.marginHeightCreateCrossword {
    margin-right: 24%;
}

.blockAutoGenerate {
    margin-right: 22%;
    margin-left: 6%;
}

.buttonCreateCrossword {
    width: 130px;
    height: 25px;
    margin-top: 2%;
}

.main {
    display: flex;
    justify-content: space-around;
}

.mainTable {
    height: 700px;
}

.tableCell {
    height: 40px;
    background: cadetblue;
}

table {
    border-collapse: collapse;
}

td {
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    user-select: none;
    text-align: center;
}

.tableForWord {
    width: 400px;
    height: 50px;
}

.selectDictionary {
    width: 400px;
    margin-top: 2%;
    height: 300px;
}

.selectWords {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttonEditCrossword {
    height: 40px;
    width: 373px;
    margin-left: 4%;
    margin-top: 3%;
}

.selectCrossword {
    width: 400px;
    height: 300px;
}

.listCrosswords {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttonStepOut {
    margin-top: 2%;
    height: 40px;
    width: 280px;
}
.enableInput{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}